services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: always
    env_file:
      - .env
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy
      mongo:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: copy-polymarket-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7
    container_name: copy-polymarket-mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongo
      - MONGO_INITDB_ROOT_PASSWORD=LJMzkTaoVLbicPgsPCeWOClXaDifcgTW
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')", "-u", "mongo", "-p", "LJMzkTaoVLbicPgsPCeWOClXaDifcgTW" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis-data:
  mongo-data:


networks:
  app-network:
    driver: bridge
