services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: always
    environment:
      - REDIS_URL=redis://:polymarket_redis_secret@redis:6379
      - MONGO_URL=mongodb://admin:admin123@mongo:27017/?authSource=admin
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy
      mongo:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: copy-polymarket-redis
    restart: unless-stopped
    command: redis-server --requirepass polymarket_redis_secret
    volumes:
      - redis-data:/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "polymarket_redis_secret", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7
    container_name: copy-polymarket-mongo
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')", "-u", "admin", "-p", "admin123" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis-data:
  mongo-data:


networks:
  app-network:
    driver: bridge
